#1st{
    width: 100%;
    height: 100%;
    background-color: #555555;
}
body, header {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #2C3333;
    color: #FFFFFF;
    padding: 20px;
    /*position: fixed;*/
}
nav>ul {
    list-style: none;
    padding: 0;
}
header>nav>ul>li {
    display: inline;
    margin-right: 20px;
}
header>nav>ul>li>a {
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
    transition: transform 0.2s;
}
header>nav>ul>li>a:hover {
    transform: scale(1.1);
}
.login{
    background-color: #555555;
    width: 100%;
    height: 634px;
    margin: 0;
    position: relative;
}
.login>div{
    height: 20px;
    background-color: #2F302C;
    opacity: 21%;
}
.login>div:first-child{
    width: 660px;
    transform:rotate(45deg) translateY(50px);
}
.login>div:nth-child(2){
    width: 560px;
    transform: rotate(45deg) translateY(80px);
}
.login>div:nth-child(3){
    width: 460px;
    transform: rotate(45deg) translateY(110px);
}
.login>div:nth-child(4){
    width: 500px;
    transform: rotate(-45deg) translateY(190px) translateX(-350px);
}
.login>div:nth-child(5){
    width: 610px;
    transform: rotate(-45deg) translateY(215px) translateX(-350px);
}
.login>div:nth-child(6){
    width: 720px;
    transform: rotate(-45deg) translateY(230px) translateX(-350px);
}

#hello{
    color: #FFFFFF;
    font-family: 'Merienda', cursive;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: 37%;
    text-align: right;
    margin-bottom: 0;
}
#sl{
    font-size:70px;
    /*align-self: flex-end;*/
    color: #FFFFFF;
    font-family: 'Croissant One', cursive;
    text-shadow: 0 0 5px white;
    margin-left: auto;
    margin-right: 8%;
    text-align: right;
    margin-top:0;
}
/*hr{*/
/*    width: 500px;*/
/*    height: 2px;*/
/*    margin: auto;*/

/*}*/
#frontend{
    color: #FFFFFF;
    font-family: 'Merienda', cursive;
    font-size: 30px;
    margin-left: auto;
    margin-right: 15%;
    text-align: right;
    /*margin-top: 0;*/
}
.button{
    height: 30px;
    position: absolute;
    background-color: #2C3333;
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#hireme{
    width: 100px;
    right: 19%;
    bottom: 30%;
}
#cv{
    width: 120px;
    right: 10%;
    bottom: 30%;
}
/*******************************************/
#2nd{
    background-color: #212121;
}
h2{
    margin-top: 1%;
    margin-left: 2%;
    color: #FDFFAE;
}
hr{
    width: 230px;
    transform: rotate(90deg);
    background-color: #FDFFAE;
    margin-left: -2%;
    margin-top: -8%;
}
div div{
    background-color: #2D2D2C;
    width: 250px;
    height: 450px;
    margin-top: -2%;
    margin-left: 15%;
}
#para {
    width: 700px;
    height: 200px;
    color: white;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 20px;
    margin-right: 20px;
    position: relative;
    left: 750px;
    bottom: 344px;
}
div p:last-child{
    text-indent: 50px;
}


















